html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.top-bar{
    background-color: #009fe3;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    text-align: center;
    height: 100%;
}
.icon{
    width: 20%;
    object-fit: contain;
    padding-top: 0.6rem;
}
.local-web-cam{
    grid-area: video1;
}
.remote-web-cam{
    grid-area: video2;
}
.buttons-div{
    display:grid;
    grid-area: buttons;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
#app{
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
         "header header"
         "video1 video2"
         "buttons buttons";
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-areas:
            "video1"
            "video2"
            "buttons"
            "slider";
        height: 100vh;
        overflow-y: auto;
    }
    .buttons-div {
        grid-template-columns: 1fr;
    }
    .next-button{
        padding: 3.5vw !important;
        font-size: 4.5vw !important;
    }
    .stop-button{
        padding: 3.5vw !important;
        font-size: 4.5vw !important;
    }
    .distance-label{
        font-size: 3.5vw !important;
    }
    .slider::-webkit-slider-thumb{
        height: 10vw !important;
        width: 2.5vw !important;
    }
    video {
        height: 50vh !important;
    }
    .icon {
        display:none
    }
}

