html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.top-bar{
    background-color: #009fe3;
    grid-area: header;
    text-align: center;
}
.icon{
    width: 20%;
    padding-top: 0.6rem;
}
.local-web-cam{
    grid-area: video1;
}
.remote-web-cam{
    grid-area: video2;
}
.buttons-div{
    display:grid;
    grid-area: buttons;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
#app{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
         "header header"
         "video1 video2"
         "buttons buttons";
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "video1"
            "video2"
            "buttons"
            "slider";
        height: 100vh;
        overflow-y: auto;
    }
    .buttons-div {
        grid-template-columns: 1fr;
    }
    video {
        width: 100%;  /* Make videos full width */
        height: 50vh; /* Make each video take up half the screen height */
        object-fit: cover; /* Ensure videos cover the area and maintain aspect ratio */
    }
    .icon {
        display:none

    }
    .next-button, .stop-button {
        font-size: 1.2rem;
    }
}

