html,body{
    margin: 0;
    height: 100%;
}
.top-bar{
    background: linear-gradient(to right, #0077B6, #00AEEF 50%, #0077B6);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}
.icon{
    width: 15%;
    object-fit: contain;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.local-web-cam{
    grid-area: video1;
}
.remote-web-cam{
    grid-area: video2;
}
.buttons-div{
    display:grid;
    grid-area: buttons;
    grid-template-columns: 1fr 1fr 1fr;
}
video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    aspect-ratio: 16 / 9;
}
#app{
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
         "header header"
         "video1 video2"
         "buttons buttons";
    height: 100%;
}
@media (max-width: 768px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-areas:
            "video1"
            "video2"
            "buttons"
            "slider";
        height: 100vh;
    }
    .buttons-div {
        grid-template-columns: 1fr;
    }
    .next-button{
        padding: 3.5vw !important;
        font-size: 4.5vw !important;
    }
    .stop-button{
        padding: 3.5vw !important;
        font-size: 4.5vw !important;
    }
    .distance-label{
        font-size: 3.5vw !important;
    }
    .slider::-webkit-slider-thumb{
        height: 10vw !important;
        width: 2.5vw !important;
    }
    .overlay{
        font-size: 3.8vw !important;
    }
    video {
        height: 50vh;
        aspect-ratio: 9 / 16;
    }
    .icon {
        display:none
    }
}

